/* google font deployment  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap");
/* universal selector styles  */
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  background-color: #161616;
  width: 1321px;
  height: 646px;
  position: relative;
  left: 110px;
  border-radius: 30px;
}
.banner-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.banner-text {
  width: 100%;
  color: white;
  margin-left: 8%;
}
.banner-text h1 {
  font-size: 70px;
  font-weight: 700;
  text-align: start;
  line-height: 80px;
  margin-bottom: 10px;
}
.banner-text p {
  line-height: 26px;
  font-weight: 400;
}
.banner-text a {
  text-decoration: none;
  display: inline-block;
  background-color: #dd0000;
  color: white;
  padding: 12px 30px;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
}
.banner-text a:hover {
  background-color: white;
  color: #dd0000;
  transition: 0.7s;
  font-size: 15px;
}
.banner-image {
  width: 100%;
}
.banner-image img {
  width: 100%;
  margin-left: 5px 20px;
}

main {
  margin-top: 130px;
}
.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.diff-item-container{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding-top: 15px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.diff-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 50%; */
}
.diff-items a {
  text-decoration: none;
  width: 252px;
  height: 64px;
  font-size: 17px;
  font-weight: 550;
  background-color: white;
  color: black;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.diff-items a:hover{
  font-size: 20px;
  transition: 1s;
  font-weight: 550;
  border: 2px solid white;
}
.blogs{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.single-blog{
  width: 310px;
  height: 352px;
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 12px;
  padding: 15px;
}
.single-blog a {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  color: black;
  padding: 4px 15px;
  margin-top: 17px;
  margin-bottom: 14px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid black;
}
.single-blog h3{
  margin-bottom: 15px;
}
.clock-chat{
  display: flex;
  padding-right: 60px;
}
.clock-chat img{
  padding: 0px 10px;
}
.making-flex{
  display: flex;
  justify-content: baseline;
}
footer{
  margin-top: 130px;
  width: 100%;
  height: 444px;
  background-color: #161616;
}
.footer-heading h1{
  padding-top: 130px;
  margin-bottom: 50px;
  color: white;
  font-weight: 600;
  text-align: center;
}
hr{
  width: 85%;
  margin: 0px auto;
}
.footer-item ul{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.footer-item ul li{
  list-style: none;
  margin: 12px;
  padding: 12px;
}
.footer-item ul li a{
  text-decoration: none;
  color: #B9B9B9;
}
.social-media ul{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.social-media ul li{
  list-style: none;
  margin: 20px;
  color: white;
  cursor: pointer;
}
.footer-item ul li a:hover{
  text-decoration: underline;
}